<form action='@Url.Action("Comenzar")' method="POST" id="Configuracion">
    <fieldset>
        <legend>Dificultad:</legend>
        <label><input type="radio" name="Dificultad" value="-1" required /> Todas las dificultades</label><br>
        <label><input type="radio" name="Dificultad" value="1" required /> 1</label><br>
        <label><input type="radio" name="Dificultad" value="2" required /> 2</label><br>
        <label><input type="radio" name="Dificultad" value="3" required /> 3</label><br>
    </fieldset>
    
    <fieldset>
        <legend>Categoría:</legend>
        <label><input type="radio" name="Categoria" value="-1" required /> Todas las categorías</label><br>
        <label><input type="radio" name="Categoria" value="1" required /> 1</label><br>
        <label><input type="radio" name="Categoria" value="2" required /> 2</label><br>
        <label><input type="radio" name="Categoria" value="3" required /> 3</label><br>
    </fieldset>
    
    <div>
        <label for="User">Nombre de usuario:</label>
        <input type="text" name="User" required id="User" placeholder="Ingrese su username" />
    </div>
    
    <button type="submit">Comenzar Juego</button>
</form>