@{
    ViewData["Title"] = "Créditos";
}
<body class="bodybodycreditos">
    
<div class="bodyCreditos">
    <div class="presentacion">
        <img src="~/imagenes/tomas.png" alt="Tomi" class="credit-img">
        <h2>Tomás Goldentul</h2>
        <h3>Encargado del Backend</h3>
    </div>

    <div class="presentacion">
        <img src="~/imagenes/manuel.png" alt="Manu" class="credit-img">
        <h2>Manuel Gartenkrot</h2>
        <h3>Encargado del Frontend</h3>
    </div>
</div>
</body>
