<body class = "bodyCreditos">
    <div>
        <img src=".jpg" alt="Tomi">
        <h2>Tomás Goldentul</h2>
        <h3>Encargado del Backend</h3>
    </div>
    <div>
        <img src=".jpg" alt="Manu">
        <h2>Manuel Gartenkrot</h2>
        <h3>Encargado del Frontend</h3>
    </div>
</body>