<body class = "menuBody">
@{
    ViewData["Title"] = "Index";
}

<div class = "menu">
    <h1>¡Bienvenido a nuestro Preguntados!</h1>
    <nav>
        <ul>
            <li><a href = '@Url.Action("ConfigurarJuego")'>Configurar el juego</a></li>
            <li><a href = '@Url.Action("Creditos")'>Créditos</a></li>
        </ul>
    </nav>
</div>
</body>